/** General */

select {
    padding: 8px;
    background: #161616;
    border: none;
    border-radius: 2px;
    color: #fff;
}

button {
    background: #36c3d1;
    border: 1px solid #a9e9f7;
    border-radius: 2px;
    padding: 6px 12px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
}

button.with-horizontal-margin {
    margin: 0 8px;
}

/** Helpers */

.flex {
    display: flex;
}

.justifySpaceBetween {
    justify-content: space-between;
}

.alignItemsCenter {
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

/* Containers */

#rma-container {
    width: 300px;
    padding: 20px 18px;
    background: #222222;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1;
    border-radius: 4px;
    border: 1px solid #b6c9a9;
    box-shadow: 0px 4px 12px 0px rgb(0 0 0 / 20%);
    font-family: sans-serif;
    overflow-y: scroll;
    position: fixed;
    max-height: calc(100% - 8%);
}

#rma-container:hover {
    z-index: 9999;
}

#title {
    color: #f1f1f1;
    font-size: 20px;
    margin-bottom: 18px;
}

.main-section {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 2px dotted #3a3a3a;
    padding-bottom: 10px;
    margin-bottom: 12px;
    padding-left: 15px;
    color: #c3d7ac;
    text-align: left;
}

.sub-section {
    color: #f1f1f1;
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 10px;
}

.item {
    width: 32px;
    height: 32px;
    margin: 2px 2px;
    padding: 0;
    display: inline-block;
    font-size: 8px;
    font-weight: 800;
    line-height: 9px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-family: "Courier New";
    overflow: hidden;
}

/**
* ==============
*    Fighting
* ==============
*/

.enemyCard {
    padding: 10px;
    background: #363636;
    border: 1px solid #4b4b4b;
    color: #d1d1d1;
    font-weight: lighter;
    border-radius: 4px;
    margin-bottom: 8px;
}

.enemyCard.active{
    background: #444444;
    border: 1px solid #c6cda1;
}

/**
* =============
*    FARMING
* =============
*/

.seedCard {
    padding: 10px;
    background: #363636;
    border: 1px solid #4b4b4b;
    color: #d1d1d1;
    font-weight: lighter;
    border-radius: 4px;
    margin-bottom: 8px;
}

.seedCard.active{
    background: #444444;
    border: 1px solid #c6cda1;
}

.seedCard .count{
    background: red;
}

/**
* ===============
*     BUILDER
* ===============
*/

#rma-builder{
    margin-top: 10px;
}

#rma-builder .action {
    padding: 5px 10px;
    background: #363636;
    border: 1px solid #4b4b4b;
    color: #d1d1d1;
    font-weight: lighter;
    border-radius: 4px;
    margin: 8px 0;
}

#rma-builder .action.is-running{
    background: red;
}

#builder-available-actions{
    max-width: 180px;
}

#builder-script {
    width: 100%;
    display: inline-block;
    border: 1px solid #565656;
    padding: 15px 15px;
    background: #2e2e2e;
    color: #efefef;
    box-sizing: border-box;
    margin: 15px 0 5px 0;
}

#builder-errors {
    background: #d13636;
    margin: 15px 0px 0px;
    border-radius: 2px;
    padding: 10px 15px;
    color: #ffc6c6;
}

#builder-action-adder-container {
    margin-top: 10px;
}

#builder-compile-script {
    margin-bottom: 15px;
}