#rma-container {
    width: 300px;
    padding: 20px 18px;
    background: #222222;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1;
    border-radius: 4px;
    border: 1px solid #b6c9a9;
    box-shadow: 0px 4px 12px 0px rgb(0 0 0 / 20%);
}

#rma-container:hover {
    z-index: 9999;
}

button {
    background: #36c3d1;
    border: 1px solid #a9e9f7;
    border-radius: 2px;
    padding: 6px 30px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#title {
    color: #f1f1f1;
    font-size: 20px;
    margin-bottom: 18px;
}

.main-section {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 2px dotted #3a3a3a;
    padding-bottom: 10px;
    margin-bottom: 12px;
    padding-left: 15px;
    color: #c3d7ac;
    text-align: left;
}

.sub-section {
    color: #f1f1f1;
    font-size: 16px;
    margin-bottom: 8px;
}

.item {
    width: 32px;
    height: 32px;
    margin: 2px 2px;
    padding: 0;
    display: inline-block;
    font-size: 8px;
    font-weight: 800;
    line-height: 9px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-family: "Courier New";
    overflow: hidden;
}

/**
* ==============
*    Fighting
* ==============
*/

.enemyCard {
    padding: 10px;
    background: #363636;
    border: 1px solid #4b4b4b;
    color: #d1d1d1;
    font-weight: lighter;
    border-radius: 4px;
    font-family: sans-serif;
    margin-bottom: 8px;
}

.enemyCard.active{
    background: #444444;
    border: 1px solid #c6cda1;
}

/**
* =============
*    FARMING
* =============
*/

.seedCard {
    padding: 10px;
    background: #363636;
    border: 1px solid #4b4b4b;
    color: #d1d1d1;
    font-weight: lighter;
    border-radius: 4px;
    font-family: sans-serif;
    margin-bottom: 8px;
}

.seedCard.active{
    background: #444444;
    border: 1px solid #c6cda1;
}

.seedCard .count{
    background: red;
}