<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RPG MO Assistant</title>
    <link rel="stylesheet" href="./assets/main.css"/>
</head>
<body>

<div id="header">
    <img src="https://user-images.githubusercontent.com/92334493/215270313-7a2ac6d8-ca2f-4c57-ab3e-891e03aefc0b.png" alt="RPG MO Assistant">
</div>

<div id="content">
    {{content}}
</div>

<div id="footer">
    <p>RPG MO Assistant is a Chrome extension made to help you automate tasks in the game. It should only be used as a learning project.</p>
</div>
</body>
</html>
