<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RPG MO Assistant</title>
    <link rel="stylesheet" href="./assets/main.css"/>
</head>
<body>
    <div id="header">
        <h1>RPG MO Assistant</h1>
        <div id="subtitle">Task automation with custom scripts for RPG MO</div>

        <div id="videos">
            <div>
                <h2>Write your own scripts</h2>
                <video width="600" autoplay>
                    <source src="https://user-images.githubusercontent.com/92334493/215268502-9375f174-5dfc-43ef-8a8e-6c4ad39f6333.webm"/>
                </video>
            </div>

            <div>
                <h2>Fight enemies</h2>
                <video width="600" autoplay>
                    <source src="https://user-images.githubusercontent.com/92334493/215268516-9a0cd14c-40ae-40c4-961b-7ad682ee3105.webm"/>
                </video>
            </div>
        </div>
    </div>

    <div id="content">
        <div id="content-inner">
            <img src="https://user-images.githubusercontent.com/92334493/215270313-7a2ac6d8-ca2f-4c57-ab3e-891e03aefc0b.png" alt="RPG MO Assistant" width="320" />

            {{content}}
        </div>
    </div>

    <div id="footer">
        <p>RPG MO Assistant is a Chrome extension made to help you automate tasks in the game. It should only be used as a learning project.</p>
    </div>
</body>
</html>
